<!DOCTYPE html>
<html>
    <style>
        table, td, th {
          border: 1.5px solid black;
        }
        
        table {
          width: 100%;
          border-collapse: collapse;
        }
        </style>
<body>
 <center> <h2 style="font-style:italic;">""Мир Сантехники""</h2></center>
 <center> <h2 id="vaqt"> Sana:</h2></center>
  <h3> Xaridor:<%= cusname%></h3>
  <h3>Tel:  +998913113333  </h3>
<table id="tablehref" >
</table>

<center><h2 id="all"></h2></center>
<br>
<center><i>Xaridingiz uchun raxmat!</i></center>
</body>
<script>
  var cusname=<%- JSON.stringify(cusname)%>;
  var name=<%- JSON.stringify(arrayname)%>
  var price=<%- JSON.stringify(arrayprice)%>
  var count=<%- JSON.stringify(arraycount)%>
  document.getElementById('vaqt').innerHTML=new Date().toLocaleString();

function createTable(name,price,count){
  var allprice=0;
  console.log(name)
  name=name.split(',');
 ss=`<tr>
     <th style="width:0.5%;">Nomer</th>
    <th style="width:40%">Nomi</th>
    <th>Soni</th>
    <th>1 Dona</th>
    <th>Jami</th>
  </tr>`;
 for (let i=0;i<price.length;i++)
 {
  ss+=`
  <tr>
    <td><b style="color:black;font-size:25px;font-family:'Arial Narrow', Arial, sans-serif;">${i+1}</b></td>
    <td><b style="color:black;font-size:25px;font-family:'Arial Narrow', Arial, sans-serif;" >${name[i]}</b></td>
    <td><b style="color:black;font-size:25px;font-family:'Arial Narrow', Arial, sans-serif;" >${count[i]}</b></td>
    <td><b style="color:black;font-size:25px;font-family:'Arial Narrow', Arial, sans-serif;">${price[i]}</b></td>
    <td><b style="color:black;font-size:25px;font-family:'Arial Narrow', Arial, sans-serif;">${price[i]*count[i]}</b></td>
  </tr>
 `
 allprice=allprice+(parseFloat(price[i])*parseFloat(count[i]));
 }
 
 
          document.getElementById('all').innerHTML = `Jami ${allprice}`
 document.getElementById('tablehref').innerHTML=ss;
}
createTable(name,price,count)
  console.log(count,price,name)
window.print();
window.onafterprint=()=>{
  window.close();
}
</script>
</html>
